.left-image img{
    width: 100px;
    height: 100px;
  
    border-radius: 50%;
  }
  
  .left-menu-item{
    width: 200px;
    padding: 10px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .left-menu-item i{
    font-size: 20px;
    height: 15px;
    width: 15px;
  }
  .left-menu-item .child-item{
    margin-left: 20px;
    border-left: 1px solid black;
    padding-left: 20px;
  }
  .user-item{
    padding: 15px;
  }