.coursesPage {
    padding: 70px 0;
    position: relative;
    top: 5px;

    .coursesPage__content {
        margin: 30px;

        .coursesPage__right {
            // padding-top: 100px;
            // padding-bottom: 100px;
            padding-left: 50px;
        }
    }
}
