.numbers {
    padding: 70px 0;
    // background-image: url("./images/funfact_bg.png");
    // background-position: center center;
    // background-size: cover;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        width: 200px;
        height: 200px;
        display: block;
        background-color: rgba(255, 81, 0, 0.3);
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: 5%;
        z-index: 2;
    }

    .numbers__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        text-align: center;
        color: #ff4f00;
    }
}
