.banner {
    // margin-top: 100px;
    .banner-content-flex {
        padding: 40px;
    }
    background-color: #29303b;
    .banner-content-flex {
        display: flex;
        justify-content: space-around;
        .banner-items {
            i {
                font-size: 24px;
                color: $color-white-0;
            }
        }
        .banner-items.push-1 {
            padding-top: 34px;
            padding-left: 175px;
        }
        .banner-items.push-2 {
            padding-top: 34px;
            padding-right: 175px;
        }
        .banner-items.info {
            text-align: center;
            color: $color-white-0;
            h4 {
                @include styleText($color-white-0, $fs-3, $fw-bold-1);
            }
            button {
                background-color: red;
                border: none;
            }
        }
    }
}
