header .navbar.header__content {
    background-color: #1f2022;
    padding: 10px 0;
}

header .navbar.header__content .header__left {
    display: flex;
    color: #505763;
    font-size: 15px;
    font-weight: normal;
}

header .navbar.header__content .header__left .navbar-brand {
    align-self: center;
    width: 30%;
}

header .navbar.header__content .header__left .navbar-brand img {
    width: 150px;
}

header .navbar.header__content .header__right .navbar-nav {
    justify-content: space-between;
    width: 100%;
    position: relative;
}

header .navbar.header__content .header__right .navbar-nav .nav-item {
    align-self: center;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    white-space: nowrap;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(243, 156, 7, 0.8);
    border-radius: 5px;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu {
    padding: 10px;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    transition: all 0.3s linear;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgba(243, 156, 7, 0.5);
    transform: translateX(5%);
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover::before {
    content: "> ";
    color: #ff4f00;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
}
