.MuiCard-root img {
    /* width: 250px; */
    height: 150px;
    border-radius: 4px;
}
.fa.fa-star {
    margin-right: 5px;
    color: rgb(255, 208, 0);
}
.price {
    font-weight: 600;
}
.card-body {
    margin: 0px;
    padding: 10px 0px;
}
.del {
    font-weight: 300;
}
.activeHover {
    position: absolute;
    top: 0px;
    display: none;
    background-color: white;
    width: 288px;
    height: 365px;
    padding: 20px;
    border-radius: 5px;
}
.card,
.activeHover {
    transition: all 2s;
}
.card:hover + .activeHover {
    display: block;
}

.bestseller {
    border-radius: 5px;
    background-color: rgb(200, 255, 0);
    color: white;
    padding: 5px;
}

.cardItems-image img {
    width: 100%;
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: none;
}
.MuiButton-label {
    padding: 5px;
    border-radius: 4px;

    color: rgb(16, 19, 9);
}
.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: 0 8px 20px #eae6e3;
    padding: 10px;
    margin: 10px 5px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover {
    box-shadow: 0 8px 20px #6b6a6a;
}

.MuiCard-root .card__content {
    padding: 10px;
}

.MuiCard-root .card__content .MuiTypography-h6 {
    font-size: 14px;
}
